*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;
  color: rgb(51, 51, 51);

  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container,
.container-catalog {
  width: 1200px;
  margin: 0 auto;
  position: relative;

  -webkit-box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);

          box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
  min-height: 56px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.site-navigation li {
  padding-top: 14px;
  width: 20%;
  min-height: 56px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 20%;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 74px;
}

.site-navigation li:nth-child(4) {
  padding-right: 71px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-item a,
.current-item a:hover,
.current-item a:active {
  color: rgb(118, 99, 87);
}

.main-intro {
  line-height: 0;

  padding-top: 76px;
  padding-bottom: 79px;

  background-color: rgb(72, 81, 85);
  background-image: url("../img/polygon-index.svg"), url("../img/background-index.jpg");
  background-position: 0px 451px, center -56px;
  background-repeat: no-repeat, no-repeat;
}

.advantages-intro {
  min-height: 216px;
  padding-top: 59px;
  padding-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0);

  background-color: rgb(255, 255, 255);
}

.advantages-intro b {
  margin: 0;
  padding: 0;

  display: block;
  width: 576px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.advantages-intro p {
  line-height: 26px;

  margin: 0 auto;
}

.advantages-list,
.list-item-big,
.list-item-extra {
  margin: 0;
  padding: 0;

  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list .list-item {
  width: 400px;
  min-height: 256px;
}

.advantages-list .list-item:not(.extra-item) {
  padding-top: 48px;
  padding-bottom: 58px;
}

.list-item-big .item-image {
  width: 800px;

  background-color: rgb(152, 121, 110);
  background-repeat: no-repeat;
}

.list-item-big:nth-of-type(1) .item-image {
  background-image: url("../img/street-full.jpg");
  background-position: 0 -78px;
}

.list-item-big:nth-of-type(2) .item-image {
  background-image: url("../img/nature-full.jpg");
  background-position: 0 -76px;
}

.list-item h3 {
  display: block;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-list .items-num {
  margin-bottom: 21px;
}

.advantages-list .item-lead {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.item-lead.lead-1 {
  width: 300px;
}

.item-lead.lead-2 {
  width: 320px;
}

.item-lead.lead-4 {
  width: 280px;
}

.advantages-list .item-info {
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.advantages-list .extra-item {
  min-height: 330px;

  padding-top: 161px;
  padding-bottom: 24px;

  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: 162px 61px;
}

.advantages-list .extra-item:nth-of-type(1) {
  background-image: url("../img/icon-1.svg");
}

.advantages-list .extra-item:nth-of-type(2) {
  background-image: url("../img/icon-2.svg");
}

.advantages-list .extra-item:nth-of-type(3) {
  background-image: url("../img/icon-3.svg");
  background-position: 168px 56px;
}

.extra-item h3
.list-item-small h3 {
  color: rgb(0, 0, 0);
}

.extra-item p {
  width: 290px;

  margin: 0 auto;
  padding: 0;
}

.list-item-small {
  background-color: rgb(238, 238, 238);
}

.search-white-background {
  min-height: 290px;
  padding-top: 50px;

  background-color: rgb(255, 255, 255);
}

.search-white-background b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  display: block;
  width: 570px;

  margin: 0 auto;
  margin-bottom: 24px;
}

.search-white-background p {
  font-size: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);

  width: 570px;

  margin: 0 auto;
  margin-bottom: 47px;
}

.search-form-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(118, 99, 87);
  border: none;

  width: 568px;
  height: 86px;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: rgb(96, 78, 67);
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.search-form-container {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.hotel-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  position: absolute;
  width: 568px;
  height: 395px;

  margin: 0 auto;
  padding: 55px;

  line-height: 26px;
  font-weight: 700;

  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.hotel-search-form p {
  margin: 0;
  padding: 0;

  margin-bottom: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 460px;
  color: rgb(0, 0, 0)
}

.arrival-date-form label,
.departure-date-form label {
  padding-top: 6px;
  text-align: left;

  display: block;
  width: 100px;
  height: 38px;
}

.hotel-search-form .input-container {
  margin: 0;
  padding: 0;

  display: block;
  float: right;
  position: relative;
  width: 346px;
  height: 38px;
}

.hotel-search-form input[type="text"],
.half-width button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  text-transform: uppercase;
  border: none;
}

.hotel-search-form input[type="text"] {
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
}

.hotel-search-form input[type="text"]:hover {
  background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="text"]:focus {
  outline: 2px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
}

.arrival-date-form input,
.departure-date-form input {
  display: block;
  width: 100%;
  height: 38px;
}

.arrival-date-form input,
.departure-date-form input {
  padding-left: 13px;
  padding-right: 40px;
}

.arrival-date-form button,
.departure-date-form button {
  position: absolute;

  bottom: 8px;
  right: 9px;

  padding: 0;
  line-height: 0;
  border: none;
  outline: none;

  background: none;
}

.arrival-date-btn svg,
.departure-date-btn svg {
  fill: rgb(202, 202, 202);
}

.arrival-date-btn:hover svg,
.arrival-date-btn:focus svg,
.departure-date-btn:hover svg,
.departure-date-btn:focus svg {
  fill: rgb(0, 0, 0);
}

.arrival-date-btn:active svg,
.departure-date-btn:active svg {
  fill: rgb(129, 179, 210);
}

.hotel-search-form .half-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: relative;
  margin-bottom: 54px;
}

.adults-number-form {
  width: 227px;
}

.children-number-form {
  width: 178px;
}

.half-width label {
  display: block;
  padding-top: 5px;
}

.half-width input,
.half-width button {
  margin: 0;
  padding: 0;

  height: 38px;
  text-align: center;
  border: none;
}

.half-width input {
  width: 114px;
}

.half-width button {
  position: absolute;
  width: 38px;

  background-color: rgba(255, 255, 255, 0);
}

.half-width .minus {
  right: 76px;
  bottom: 0;
}

.half-width .plus {
  right: 0;
  bottom: 0;
}

.counter-btn  line {
  stroke-width: 3;
  stroke: rgb(169, 169,169);
}

.counter-btn:hover line,
.counter-btn:focus line {
  stroke: rgb(0, 0, 0);
}

.counter-btn:active line {
  stroke: rgb(129, 179, 210);
}

.hotel-search-form input[type="submit"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
  border: none;

  width: 458px;
  height: 58px;
}

.hotel-search-form input[type="submit"]:hover,
.hotel-search-form input[type="submit"]:focus {
  background-color: rgb(102, 158, 192);
}

.hotel-search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.hotels-selection-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 217px;

  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  padding-bottom: 30px;

  background-position: center -56px;
  background-repeat: no-repeat;
  background-color: rgb(99, 114, 127);
  background-image: url("../img/background-catalog.jpg");
}

.hotels-selection-form .infrastructure,
.hotels-selection-form .accomodation {
  width: 255px;
  text-align: left;
}

.hotels-selection-form .price {
  width: 318px;

  margin-left: auto;
  text-align: left;
}

.hotels-selection-form h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.price h3 {
  margin-left: 2px;
  margin-bottom: 10px;
}

.hotels-selection-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-selection-form li,
.hotels-selection-form p,
.price-field input[type="text"],
.hotels-selection-form .form-btn {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.hotels-selection-form li {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.hotels-selection-form li:last-child {
  margin-bottom: 0;
}

.hotels-selection-checkbox {
  position:relative;

  padding-left: 40px;

  cursor: pointer;
}

.accomodation .hotels-selection-checkbox {
  padding-left: 42px;
}

.hotels-selection-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.hotels-selection-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}

.hotels-selection-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.hotels-selection-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.hotels-selection-form .price-field {
  position: relative;

  height: 36px;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.hotels-selection-form .price-field::after {
  position: absolute;
  content: "";

  width: 2px;
  height: 22px;

  top: 50%;
  left: 50%;

  background-color: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-field label {
  display: inline-block;

  width: 157px;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-field .min-price {
  padding-left: 65px;
}

.price-field .max-price {
  padding-left: 54px;
}

.price-field input {
  margin: 0;

  background: none;
  border: none;
}

.price-field input[name="min-price"] {
  width: 70px;
}

.price-field input[name="max-price"] {
  width: 79px;
}

.hotels-selection-form .price-range {
  position: relative;

  margin-bottom: 32px;
}

.price-range .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.price-range .bar {
  width: 80%;
  height: 2px;

  background-color: rgb(255, 255, 255);
}

.price-range .range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price-range .range-toggle:hover {
  width: 22px;
  height: 22px;
}

.price-range .range-toggle-min {
  left: 0;
}

.price-range .range-toggle-max {
  left: 80%;
}

.hotels-selection-form .form-btn {
  display: block;
  width: 138px;
  height: 36px;

  margin: 0;
  margin-left: 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgba(111, 90, 83, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}

.hotels-selection-form .form-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.results-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  min-height: 87px;

  padding-left: 72px;
  padding-right: 73px;

  color: rgb(0, 0, 0);
  background-color: rgb(254, 254, 254);
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotels-selection-result,
.catalog-item-image {
  margin: 0;
  padding: 0;

  width: 165px;
  text-align: left;
}

.hotels-selection-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.selection-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  width: 565px;
  text-align: left;
}

.selection-mode .mode-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  margin: 0;
  padding: 0;

  list-style: none;
}

.selection-mode p,
.mode-list li {
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  padding: 0;
}

.selection-mode p {
  margin-right: 40px;
}

.mode-list li {
  margin-right: 33px;
}

.mode-list a {
  margin: 0;
  padding: 0;

  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.mode-list .current {
  color: rgb(129, 179, 210);
  text-decoration: none;
  border: none;
}

.mode-list a:hover {
  color: rgb(129, 179, 210);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.mode-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.sequence-selection,
.item-ratings-info {
  width: 240px;
  margin-left: auto;
  text-align: right;
}

.sequence-selection a:last-child {
  margin-left: 8px;
}

.sequence-selection-defaul path {
  fill: rgb(202, 202, 202)
}

.sequence-selection-defaul:hover path,
.sequence-selection-current:hover path {
  fill: rgb(35, 31, 32)
}

.sequence-selection-current path,
.sequence-selection-current:active path,
.sequence-selection-defaul:active path {
  fill: rgb(129, 179, 210)
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  color: rgb(0, 0, 0);

  background-color: rgb(254, 254, 254);
}

.hotels-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  width: 100%;
  min-height: 150px;

  margin: 0;
  padding-top: 25px;
  padding-right: 73px;
  padding-left: 72px;
  padding-bottom: 30px;

  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotels-list-item .catalog-item-image {
  margin-top: 5px;

  line-height: 0;
}

.hotels-list-item .item-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  width: 365px;
}

.item-main-info h3 {
  display: block;
  width: 100%;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  text-align: left;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hotel-name a:hover {
  color: rgb(129, 179, 210);
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-main-info p {
  margin: 0;
  padding: 0;
}

.item-main-info .hotel-info {
  margin-bottom: 14px;

  text-align: left;
}

.item-main-info .hotel-type,
.item-main-info .btn-info {
  width: 110px;
  margin-right: 6px;
}

.item-main-info .hotel-price,
.item-main-info .btn-booking {
  width: 142px;
}

.hotel-btn a {
  display: block;

  height: 27px;

  padding-top: 3px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn-info a {
  background-color: rgb(129, 179, 210);
}

.btn-info a:hover,
.btn-info a:focus {
  background-color: rgb(102, 158, 192);
}

.btn-info a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.btn-booking a {
  background-color: rgb(118, 99, 87);
}

.btn-booking a:hover,
.btn-booking a:focus {
  background-color: rgb(96, 78, 67);
}

.btn-booking a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.hotel-stars {
  display: block;
  height: 17px;

  margin-top: 3px;
  margin-left: auto;
  margin-bottom: 47px;
  margin-right: 0;
  padding: 0;

  background: url("../img/star.svg");
  background-repeat: space;
}

.amara-hotel-stars {
  width: 89px;
}

.desert-hotel-stars {
  width: 65px;
}

.villas-hotel-stars {
  width: 41px;
}

.hotel-rating {
  display: block;

  width: 110px;
  height: 27px;

  margin: 0;
  margin-left: 130px;
  padding-top: 4px;
  padding-right: 11px;

  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
}

.map-image {
  margin: 0;
  padding: 0;

  line-height: 0;
}

.main-footer-box {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-footer,
.catalog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-footer {
  background-color: rgb(254, 254, 254);
}

.footer-container {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  width: 400px;
  min-height: 120px;
}

.footer-sedona-link {
  padding-top: 46px;
}

.footer-sedona-link a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;

  color: rgb(0, 0, 0);
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 150px;

  margin: 0 auto;
  margin-top: 36px;
  padding: 0;

  list-style: none;
}

.footer-social .social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 46px;
  height: 48px;

  background-color: rgb(129, 179, 210);
}

.social-btn path {
  fill: rgb(255, 255, 255);
}

.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
  background-color: rgb(102, 158, 192);
}

.footer-social .social-btn:active,
.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-left: 5px;

  color: rgb(0, 0, 0);
}

.footer-copyright .website-by,
.footer-copyright a {
  margin: 0;
  padding: 0;

  display: block;
  line-height: 0;
}

.footer-copyright .website-by {
  margin-right: 8px;
}

.copyright-link path {
  fill: rgb(0, 0, 0);
}

.copyright-link:hover path,
.copyright-link:hover rect,
.copyright-link:hover path,
.copyright-link:focus rect {
  fill: rgb(129, 179, 210);
}

.copyright-link:active path,
.copyright-link:active rect {
  fill: rgb(189, 187, 188);
}
