*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-transform: uppercase;
  color: rgb(51, 51, 51);

  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container,
.container-catalog {
  background-position: top center;
  background-repeat: no-repeat;

  width: 1200px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
}

.container {
  background-color: rgb(227, 240, 248);
  background-image: url("../img/background-index.jpg");
}

.container-catalog {
  background-color: rgb(99, 114, 127);
  background-image: url("../img/background-catalog.jpg");
}

.main-header {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);

  width: 1200px;
  min-height: 56px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 56px;
  padding: 15px 70px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-item a,
.current-item a:hover,
.current-item a:active {
  color: rgb(118, 99, 87);
}

.main-intro {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
  min-height: 508px;
}

.main-intro-container {
  width: 459px;
  min-height: 353px;

  margin:auto;
  margin-top: 76px;
  margin-bottom: 21px;
}

.deco-poligon {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 59px;
}

.advantages-intro {
  width: 1200px;
  min-height: 216px;

  background-color: rgb(255, 255, 255);
}

.advantages-intro-container {
  display: block;

  width: 576px;
  min-height: 216px;

  margin: 0 auto;
}

.advantages-intro b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.advantages-intro p {
  line-height: 26px;
}

.advantages-list,
.list-item-big,
.list-item-extra {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.list-item-big:nth-of-type(2) .item-info {
  order:2;
}

.advantages-list {
  width: 1200px;
  min-height: 1098px;
}

.advantages-list .list-item {
  width: 400px;
  min-height: 256px;
}

.advantages-list .extra-item {
  min-height: 330px;
}

.list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.item-info {
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.extra-item {
  background-color: rgb(255, 255, 255);
}

.extra-item h3
.list-item-small h3 {
  color: rgb(0, 0, 0);
}

.list-item-small {
  background-color: rgb(238, 238, 238);
}

.search-white-background {
  width: 1200px;
  min-height: 290px;

  background-color: rgb(255, 255, 255);
}

.search-intro-container {
  display: block;

  width: 570px;
  min-height: 290px;

  margin: 0 auto;
  padding-top: 1px;
}

.search-white-background b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  display: block;

  margin-top: 55px;
  margin-bottom: 30px;
}

.search-white-background p {
  font-size: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);

  margin-bottom: 55px;
}

.search-form-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(118, 99, 87);
  border: none;

  width: 568px;
  height: 86px;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: rgb(96, 78, 67);
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.hotel-search-form {
  display: block;
  width: 568px;
  height: 395px;

  margin: 0 auto;

  line-height: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.hotel-search-form input[type="text"],
.adults-number-form button,
.children-number-form button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  text-transform: uppercase;
  border: none;
}

.hotel-search-form input[type="text"] {
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
}

.hotel-search-form input[type="text"]:hover {
  background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="text"]:focus {
  outline: 2px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
}

.adults-number-form button,
.children-number-form button {
  color: rgb(169, 169, 169);

  background-color: rgb(242, 242, 242);
}

.adults-number-form button:hover,
.adults-number-form button:focus,
.children-number-form button:hover,
.children-number-form button:focus {
  color: rgb(0, 0, 0);
}

.adults-number-form button:active,
.children-number-form button:active {
  color: rgb(129, 179, 210);
}

.hotel-search-form input[type="submit"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
  border: none;

  width: 458px;
  height: 58px;
}

.hotel-search-form input[type="submit"]:hover,
.hotel-search-form input[type="submit"]:focus {
  background-color: rgb(102, 158, 192);
}

.hotel-search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.hotels-selection-form h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);

  background-color: rgba(95, 135, 171, 0.3);
}

.hotels-selection-form ul {
  list-style: none;
}

.hotels-selection-form li,
.hotels-selection-form p,
.price-field input[type="text"],
.hotels-selection-form .form-btn {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.infrastructure li:first-of-type {
  background-color: rgba(95, 135, 171, 0.3);
}

.infrastructure li:nth-of-type(2) {
  background-color: rgba(72, 115, 149, 0.3);
}

.infrastructure li:nth-of-type(3) {
  background-color: rgba(60, 99, 132, 0.3);
}

.accomodation li:first-of-type {
  background-color: rgba(103, 141, 180, 0.3);
}

.accomodation li:nth-of-type(2) {
  background-color: rgba(97, 129, 168, 0.3);
}

.accomodation li:nth-of-type(3) {
  background-color: rgba(65, 82, 92, 0.3);
}

.price h3 {
  background-color: rgba(95, 94, 97, 0.3);
}

.price-field input[type="text"],
.hotels-selection-form .form-btn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-field input[type="text"] {
  background-color: rgba(67, 68, 72, 0.3);
}

.hotels-selection-form .form-btn {
  background-color: rgba(111, 90, 83, 0.3);
}

.hotels-selection-form .form-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.results-sorting {
  color: rgb(0, 0, 0);
  background-color: rgb(254, 254, 254);
}

.hotels-selection-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.selection-mode .mode-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.selection-mode p,
.mode-list li {
  font-size: 12px;
  line-height: 18px;
}

.mode-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.mode-list .current {
  color: rgb(129, 179, 210);
  text-decoration: none;
  border: none;
}

.mode-list a:hover {
  color: rgb(129, 179, 210);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.mode-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: rgb(0, 0, 0);

  background-color: rgb(254, 254, 254);
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.item-main-info .hotel-btn {
  display: inline-block;
}

.hotel-btn a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn-info a {
  background-color: rgb(129, 179, 210);
}

.btn-info a:hover,
.btn-info a:focus {
  background-color: rgb(102, 158, 192);
}

.btn-info a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.btn-booking a {
  background-color: rgb(118, 99, 87);
}

.btn-booking a:hover,
.btn-booking a:focus {
  background-color: rgb(96, 78, 67);
}

.btn-booking a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.hotel-rating {
  color: rgb(102, 102, 102);

  background-color: rgb(242, 242, 242);
}

.map-footer-container {
  width: 1200px;
  min-height: 593px;
}

.main-footer,
.catalog-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-footer {
  background-color: rgb(254, 254, 254);
}

.footer-container {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);

  list-style: none;

  width: 400px;
  height: 120px;

}

.footer-sedona-link a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;

  color: rgb(0, 0, 0);
}

.footer-social .social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
}

.footer-copyright {
  margin: 0;
  padding: 0;

  line-height: 26px;

  display: inline-block;
  vertical-align: middle;

  color: rgb(0, 0, 0);
}
