*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  color: #333333;

  background-color: #e3f0f8;
  background-image: url("../img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  margin: 0 auto;
}

.main-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation ul {
  list-style: none;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:active,
.site-navigation .current-item {
  color: #766357;
}

.main-intro {
  text-align:center;
}

.advantages {
  text-align:center;
}

.advantages-intro {
  background-color: #ffffff;
}

.advantages-intro b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.advantages-intro p {
  line-height: 26px;
}

.advantages-list,
.list-item-extra {
  list-style: none;
}

.list-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.list-item p {
  font-size: 14px;
  line-height: 21px;
}

.item-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.extra-item {
  background-color: #ffffff;
}

.extra-item h3
.list-item-small h3 {
  color: #000000;
}

.list-item-small {
  background-color: #eeeeee;
}

.hotel-search {
  text-align: center;
}

.search-white-background {
  background-color: #ffffff;
}

.search-white-background b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-white-background p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  background-color: #ffffff;
}

.search-form-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: #604e43;
}

.search-form-btn:active {
  background-color: #503e33;
  opacity: 0.3;
}

.hotel-search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.hotel-search-form input[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.hotel-search-form input[type="submit"]:hover,
.hotel-search-form input[type="submit"]:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.hotel-search-form input[type="submit"]:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}

.hotels-selection-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.hotels-selection-form ul {
  list-style: none;
}

.hotels-selection-form li,
.hotels-selection-form p,
.price-field input[type="text"],
.hotels-selection-form .form-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
}

.price-field input[type="text"],
.hotels-selection-form .form-btn {
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.hotels-selection-form .form-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.results-sorting {
  color: #000000;
  background-color: #ffffff;
}

.hotels-selection-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.results-sorting {
  background-color: #fefefe;
}

.selection-mode .mode-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection-mode p,
.mode-list li {
  font-size: 12px;
  line-height: 18px;
}

.selection-mode p {
  color: #000000;
  background-color: #fefefe;
}

.mode-list .current {
  color: #81b3d2;
  text-decoration: none;
  border: none;
}

.mode-list a {
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.mode-list a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.mode-list a:active {
  color: #000000;
  text-decoration: none;
  opacity: 1;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  background-color: #fefefe;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotel-info {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.hotel-btn a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.btn-info {
  background-color: #81b3d2;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #669ec0;
}

.btn-info a:active {
  opacity: 0.3;
  background-color: #5496bd;
}

.btn-booking {
  background-color: #766357;
}

.btn-booking:hover,
.btn-booking:focus {
  background-color: #604e43;
}

.btn-booking a:active {
  opacity: 0.3;
  background-color: #503e33;
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  text-align: center;
  vertical-align: middle;
  opacity: 0.9;

  background-color: #ffffff;
}

.footer-sedona-link a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-decoration: none;
  color: #000000;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer-social .social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  color: #ffffff;

  background-color: #81b3d2;
}

.footer-copyright {
  margin: 0;
  padding: 0;

  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.footer-copyright a {
}
